default: &default
  host: <%= ENV['REDIS_HOST'] || "colmex.redis" %>
  port: <%= ENV['REDIS_PORT'] || 6379 %>

development:
  <<: *default
test:
  <<: *default
production:
  #<<: *default
  host: <%= ENV['REDIS_HOST'] || "localhost" %>
  port: <%= ENV['REDIS_PORT'] || 6379 %>

